/*-----------
Css Principal
------------*/
:root {
    background-color: black;
    color: white;
    font-family: "Caveat", cursive;
    text-align: center;
    scroll-behavior: smooth;
    font-size: 2.2rem;
}

/*Aquí encontramos los containers mas importantes con varios parámetros para que tengan un diseño parecido y también unas reglas para el background que hacen que se quede la imagen de fondo fija mientras el texto se va moviendo hasta que aparece la siguiente imágen como un efecto parallax. Tmbién les puse position relative para pode rmover cualquier componente que este dentor de ellos libremente*/
.Intro,
.Containerbio,
.Containermusica,
.Containerrelacionados,
.Containerfestivales,
.Containergaleria,
.Containertrayectoria,
.Containereventos,
.Containercontacto,.Footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

/*--------------
Pagina de inicio
---------------*/
/*Cabe destacar que esta parte tiene un z-index mayor a los demas para que sea lo primerop en visualizarse al entrar a la página web */
.Inicio {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 3;
    background-image: url(https://images.pexels.com/photos/63703/pexels-photo-63703.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Aquí encontramos la clase active que luego agregamos con java que nos sirve para realizar la animación de intro de la página */

.Inicio.active {
    opacity: 0;
    z-index: 0;
    animation: scale 2s ease-in;

}

/* Otra animación para un boton específico que luego explicare en la parte de animaciones*/

.Botones-play {
    animation: glow 1s alternate infinite;
}

/*Hoover que cambia el color al pasar por encima*/

.Botones-heart:hover {
    color: red;
}

.Botones-move:hover {
    color: cyan;
}

.Botones-share:hover {
    color: greenyellow;
}

/*Botones con sus especificaciones y colores para que no tengan color de fondo*/

.Botones-move,
.Botones-share,
.Botones-play,
.Botones-heart {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    font-size: x-large;
    padding: 0.5rem;
    cursor: pointer;

}

/*Caja donde se encuentran tanto la imágen como los botones con sus caracteristicas para que se visualize bien en la página con un rgba para que se vea el fondo pero detras de la caja pero tambien se visualize la caja transparente*/

.Box {
    background-color: rgba(0, 0, 0, 0.63);
    width: 40%;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
}

/*Tamaño de la imágen*/

.Box-img {
    width: 60%;
}

/*Especificaciones del texto que va pasando de un lado a otro con sus animaciones*/

.Inicio-p,
.Inicio-t {
    position: absolute;
    width: 400%;
}

.Inicio-p {
    animation: lado 5s alternate infinite;
    bottom: 0;
}

.Inicio-t {
    animation: ladoC 5s alternate infinite;
    bottom: 1rem;
}

/*-----------
    Gifs
------------*/
/*Tamaños y posiciones de los gifs para que se vean bien en la página*/

.Guitarra {
    width: 10%;
    position: absolute;
    left: 25%;
    opacity: 0;
    top: 40%;
}

.Container-gifright,
.Container-gifleft {
    position: absolute;
    width: 15%;
    opacity: 0;
}

.Container-gifright {
    right: 5%;
    top: 0;
}

.Container-gifleft {
    left: 5%;
    bottom: 0;
}

/* ----------
Css imagenes
-----------*/
.Logo-img {
    width: 100px;
    border-radius: 50%;
}

.Enlaces-img {
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 0 50px orange;
    opacity: 0;
}

/*El cursosr pointer es para que al pasar popr encima del elemento se cambie el cursor a una mano que lo uso normalmente en elementos que puedes dar click para que realizen algo en la página o para enlaces*/
.Galeria-img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    height: 100%;
}


/*-----------
  Scrollbar
------------*/

/*En esta parte encontramos la scrollbar que lo primero que hacemos es quitar la scrollbar por defecto de la web y luego ya agregamos la nuestra con su animación*/

::-webkit-scrollbar {
    width: 0;
}

.Progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    z-index: 2;
    animation: animate 5s linear infinite
}

/*Aqui estamos agregando estilos a dos pseudoelementos que los utilizamos para añadir contenido decorativo en el que aplicamos un desenfoque con blur*/

.Progressbar::after,
.Progressbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

.Progressbar::before {
    filter: blur(30px);
}

/*------------------------
    Efectos de textos
-------------------------*/
/*Aqui agregamos distintos colores y efectos a los textos para que se vean bien dentro de la página*/

.Container-h2 {
    padding: 3rem;
    color: aquamarine;
    text-shadow: 0 0 20px aquamarine;
    opacity: 0;

}

.Container-h3 {
    color: orange;
    text-shadow: 0 0 20px orange;
    opacity: 0;

}

/*-----------
Header y menu
-----------*/
/*Aqui tenemos el header que nos acompaña en toda la página ya que esta con position fixed para que tengamos el menu disponible todo el tiempo*/

.Header {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*Diseñamos el contenido del menu y le ponemos una animación al hacer hoover*/

.Lista {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Lista-a {
    text-decoration: none;
    border-radius: 15px;
    margin-right: 0.5rem;
    padding: 0.2rem;
}

.Lista-a:hover {
    animation: boxShadow 2s alternate infinite;
}

/*Estos son los botones que tenemos para reproducir o pausar la música y sus estilos el top 120% en este caso lo uso porque el header tiene position fixed y yo quiero que los botones esten fuera de la caja */

.Header-pause,
.Header-play {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    position: absolute;
    font-size: larger;
    cursor: pointer;
    border: none;
    top: 120%;
    animation: glow 1s alternate infinite;

}

.Header-pause {
    left: 2.5rem;
}

.Header-play {
    left: 0.5rem;
}

/* ------------------------------------
Botones usados para el menu hamburguesa
------------------------------------ */
.Header-btn {
    background-color: black;
    color: white;
}

.Header-btn,
.Header-x {
    display: none;
    border: none;
    cursor: pointer;
}

.Header-x,
.Lista-a {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}


.Header-x {
    position: absolute;
    top: 2rem;
    right: 3rem;
}

/* -----------------------------------
Intro principal con sus redes y efectos
----------------------------------- */
/*Aquí hacemos que nada mas pasar la intro eta parte se vea en el 100% de la pantalla de alto*/

.Intro {
    height: 100vh;
}

.Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 60%;
    border-radius: 15px;
    margin-top: 6rem;
    background-color: rgba(0, 0, 0, 0.250);
}

.Logo-h1 {
    font-family: "Reggae One", system-ui;
    animation: glow 2s alternate infinite;
}

.Redes-f,
.Redes-i,
.Redes-y,
.Redes-t {
    margin: 0.5rem;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.Redes-f{
    color: #008aff;
}
.Redes-i{
    color: rgb(255, 0, 140);
}
.Redes-y{
    color: red;
}
.Redes-t{
    color: white;
}
.fa-location-dot{
    color: cyan;
}
/* ---------------------------------
Fondos transparentes de varias cajas
----------------------------------*/
.Container-p,
.Container-form {
    background-color: rgba(0, 0, 0, 0.250);
    border-radius: 15px;
    padding: 1rem;
}

.Container-p,
.Container-form {
    opacity: 0;
}

/* ---------------------------
Efecto principal de la página
-----------------------------*/
/* Este efecto realiza que al agrgar la clase visible a cualquier elemento de la página ocurra el efecto Fadein que configuraremos con java.
Por es arazon tenemos en muchas partes del css un opacity de 0 para que no se vean de primeras en la página*/
.visible {
    opacity: 1;
    animation: Fadein 1s ease;
}



/* -------------------------------------
Botones y efectos de la galeria acordeon
-------------------------------------- */
/*Aqui tenemos los botones para abrir la galería con sus clase active para que cuando un boton este activo el otro no se vea y viceversa*/
.Container-mas,
.Container-menos.active {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: xx-large;
    cursor: pointer;
    border: none;
    animation: glow 2s alternate infinite;
}


.Container-menos.active {
    position: absolute;
    top: 8.2rem;
}

/* --------------
Galería y efectos
----------------*/
.Galeria,
.Container-menos,
.Container-mas.active {
    display: none;
}

/* Esta clase la utilizamos para que la galería se a visible con el display grid para colocar las imágenes*/
.Galeria.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0.5rem;
    animation: Fadein 1s ease-in;

}

/* -----------
Efectos hover
----------- */

.Enlaces-img:hover {
    transform: scale(1.2);
}

.Galeria-img:hover {
    transform: scale(0.9);
}

/*------------------------------
Backgrounds para efecto parallax
-------------------------------*/
.Intro {
    background-image: url(https://wallpapercave.com/wp/wp3224260.jpg);
}

.Containerbio,
.Containermusica {
    background-image: url(https://images.pexels.com/photos/4062563/pexels-photo-4062563.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.Containerrelacionados,
.Containerfestivales {
    background-image: url(https://images.pexels.com/photos/3596460/pexels-photo-3596460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.Containergaleria,
.Containertrayectoria {
    background-image: url(https://images.pexels.com/photos/2111015/pexels-photo-2111015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.Containereventos,
.Containercontacto {
    background-image: url(https://images.pexels.com/photos/11816397/pexels-photo-11816397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* ---------------------------------
Galeria full size y botones adjuntos
---------------------------------- */
/*Este css lo utilizamos para cuando tenemos la galería en pantalla completa*/
.Full {
    display: none;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 3;
    animation: Fadein 2s ease;
}

.Full-img {
    width: 50%;
    border-radius: 15px;
}

/*Aqui posicionamos los botones dentor de la galería en pantalla completa*/

.Full-x {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    cursor: pointer;
}

.Full-btnPrev,
.Full-btnNext {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.250);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
}

/*Ponemos un efecto hoover que al pasar por encima realize la animación*/

.Full-btnPrev:hover,
.Full-btnNext:hover {
    animation: glow 0.5s alternate infinite;
}

.Full-btnPrev {
    margin-right: 1rem;
    left: 1rem;
}

.Full-btnNext {
    margin-left: 1rem;
    right: 1rem;
}

/*------------
Css formulario
-------------*/
.Container-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 15%;
    justify-content: center;
    align-items: center;

}

.Label-correo,
.Label-texto {
    border-radius: 15px;
    margin-top: 20px;
    width: 80%;

}

.Label {
    width: 100%;}

.Label-btn {
    padding: 0.2rem;
    border-radius: 15px;
    width: 60%;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    animation: boxShadow 2s alternate infinite;
}

/*----
Footer
-----*/
.Footer {
    width: 100%;
    background-image: url(https://images.pexels.com/photos/625644/pexels-photo-625644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
}

.Footer-txt {
    display: flex;
    align-items: center;

}
.Footer-h2{
    padding: 0.6rem;
    animation: glow 2s alternate infinite;
}
.Footer-h3{
    color: orange;
    
}
/*-----------
Animaciones
-----------*/
/*Efecto simple que hace aparecer el contenido  y lo mueve de -1rem a la posicion inicial
donde 0% es el principio de la animación y 100% el final*/

@keyframes Fadein {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

/*En esta animación jugamos tanto con los tamaños como con los colores del texto además de agregarle una sombra al texto de el mismo color
donde va pasando por diferentes etapas del 0% al 100% en el cual cada etapa es de un color.El scale se lo ponemos solo al 100% para que vaya creciendo mientras cambia de colores */

@keyframes glow {
    0% {
        color: cyan;
        text-shadow: 0 0 20px cyan;
    }

    25% {
        color: orange;
        text-shadow: 0 0 20px orange;
    }

    50% {
        color: red;
        text-shadow: 0 0 20px red;
    }

    75% {
        color: purple;
        text-shadow: 0 0 20px purple;
    }

    100% {
        transform: scale(1.2);
        color: yellow;
        text-shadow: 0 0 20px yellow;
        ;
    }
}

/*Esta es muy parecida a la anterior pero en este caso se lo realizamos a la caja tanto el color como la sombra*/

@keyframes boxShadow {
    0% {
        box-shadow: 0 0 50px cyan;
        background-color: cyan;
    }

    25% {
        box-shadow: 0 0 50px orange;
        background-color: orange;

    }

    50% {
        box-shadow: 0 0 50px red;
        background-color: red;

    }

    75% {
        box-shadow: 0 0 50px purple;
        background-color: purple;

    }

    100% {
        box-shadow: 0 0 50px yellow;
        background-color: yellow;

    }

}

/*Este efecto es para la intro de la página que hace que vaya aumentado el tamaño mientras desaparece y en este caso ponemos el z index para que quede por encima de la siguiente página mientras desaparece*/

@keyframes scale {
    0% {
        opacity: 1;
        z-index: 3;
    }

    100% {
        opacity: 0;
        transform: scale(1.5);

    }
}

/*Esta animación hace que se produzca una rotación de 0 deg hata 360 deg.La utilizamos en la scrollbar para que haga el efecto de ir cambiando de color*/
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(360deg);
    }
}

/*Efecto que se utiliza para el movimiento del eje x que empieza de 0 y termina en 550px*/

@keyframes lado {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(550px);
    }

}

/*Es igual que ela anterior pero en viceversa y las utilizo para las letras de la intro que se vayan moviendo de un lado al otro en el eje x derecha o izquierda segun la aniamción solo que uso tambien el alternate para que se vayan variando y creo 2 animaciones para que una empieze hacia un lado y la otra hacia el otro */

@keyframes ladoC {
    0% {
        transform: translateX(550px);
    }

    100% {
        transform: translateX(0);
    }

}

/*-----------
Media queries
-----------*/
/*Mobile*/
@media only screen and (max-width: 700px) {
    /*Princiipalmente en mobile son cambios de tamaños o de posicionamiento para adaptarlos a la versión de movil*/

    :root {
        font-size: 1rem;
    }

    .Box {
        width: 80%;
    }

    .Shopping {
        top: 1rem;
        right: 3%;
    }

    .Tienda {
        width: 95%;
    }

    .Shop-btn {
        width: 100%;
        margin-bottom: 2rem;
    }

    .Header-pause,
    .Header-play {
        top: 25%;
    }

    .Guitarra {
        top: 40%;
        left: 5%;
    }

    /*Aquí tenemos la clase active para el menu desplegable que se tiene que activar solo en version de movil */

    .Lista {
        display: none;
        animation: close 2s ease-in;
    }

    .Lista.active,
    .Lista {
        background-color: rgba(0, 0, 0, 0.692);
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        list-style: none;
        justify-content: center;
        flex-direction: column;
    }

    /*El animation lo que realiza es que se produzca la animación cuyo nombre esta escrito de primero y luego le puedes agragar un tiempo, un delay, la velocidad de la animación, hacerla infinita, que se reproduzca primero hacia delante y luego hacia tras tal como alternate etc...*/

    .Lista.active {
        display: flex;
        animation: open 2s ease-in;
    }

    /*Esta animación nos sirve para abrir el menu hamburguesa que lo que hace es que vaya apareciendo desde la posición -100% del Y hasta que llegue a 0 es decir que el menu aparezca hacia abajo */

    @keyframes open {
        0% {
            transform: translateY(-100%);
        }

        100% {
            transform: translateY(0);
        }

    }

    /*Es lo mismo que la anterior pero viceversa esta vez inicia en la posicion 0 y va hasta la posicion -100% es decir hacia arriba*/

    @keyframes close {
        0% {
            transform: translateY(0);
            opacity: 1;
            display: flex;
        }

        100% {
            transform: translateY(-100%);
            opacity: 0;
        }

    }

    .Lista-a {
        margin-right: 6rem;
    }

    .Lista-a,
    .Header-x {
        font-size: xx-large;
    }


    .Header-btn {
        display: block;
        padding: 1rem;
        margin-right: 1rem;

    }

    .Container-p {
        width: 90%;
    }

    .Header-x.active {
        display: block;
    }

    .Full-x {
        top: 13rem;
    }

    /*Pequeño cambio en mobile para que el botón de menos este en la misma posición al aparecer que el botón de mas*/

    .Container-menos.active {
        display: block;
        position: absolute;
        top: 6.8rem;
    }

    .Container-form {
        width: 50%;
    }

    .Container-gifright,
    .Container-gifleft {
        width: 20%;
    }

    .Guitarra {
        width: 20%;
    }

    .Container-gifleft {
        left: 5%;
        top: 25%;
    }


    .Enlaces-img {
        width: 50px;
    }
}


/*Tablet*/
@media only screen and (min-width: 701px) and (max-width:1024px) {
    /*Princiipalmente en tablet son cambios de tamaños o de posicionamiento para adaptarlos a la versión de tablet*/

    :root {
        font-size: 1.5rem;
    }

    .Container-p {
        width: 70%;
    }

    .Container-form {
        width: 30%;
    }

    .Guitarra {
        top: 47%;
        left: 15%;
    }

    .Box {
        width: 50%;
    }

    .Tienda {
        width: 75%;
    }
}

/*Pc*/
@media only screen and (min-width: 1025px) {
    /*Pequeños cambios en algunos elementos de el proyecto en versión pc*/

    .Header img {
        width: 100px;
        border-radius: 50%;
    }

    .Container-h1 {
        font-size: 2.5rem;
    }

    .Container-p {
        width: 50%;
    }

}