/*------Css Principal------*/
:root {
    background-color: black;
    color: white;
    font-family: "Caveat", cursive;
    text-align: center;
    scroll-behavior: smooth;
    font-size: 2.2rem;
}

.Containerprimero,
.Containersegundo,
.Containertercero,
.Containercuarto,
.Containerquinto,
.Containersexto,
.Containerseptimo,
.Containeroctavo {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

/* ------Colores y efectos de textos------*/
.Container-h2 {
    padding: 3rem;
    color: aquamarine;
    text-shadow: 0 0 20px aquamarine;
}

.Container-h3 {
    color: orange;
    text-shadow: 0 0 20px orange;
}

/*------Header y menu------*/
.Header {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    top: 0;
    z-index: 1;
}

.Lista {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.Lista-a {
    text-decoration: none;
    border-radius: 15px;
    margin-right: 0.5rem;
    padding: 0.2rem;
}

.Lista-a:hover {
    background-color: white;
    color: black;
    transition: 1s ease;
}

/* ------Botones usados para el menu hamburguesa------ */
.Header-btn {
    background-color: black;
    color: white;
}

.Header-btn,
.Header-x {
    display: none;
    border: none;
    cursor: pointer;
}

.Header-x,
.Lista-a {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}


.Header-x {
    position: absolute;
    top: 2rem;
    right: 3rem;
}

/* ------Logo principal con sus redes y efectos------ */
.Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    margin-top: 6rem
}

.Logo-h1 {
    color: cyan;
    font-family: "Reggae One", system-ui;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {

        text-shadow: 0 0 20px cyan;
    }

    100% {
        transform: scale(1.2);
        text-shadow: 0 0 50px cyan, 0 0 20px black;
    }
}

.Redes-f,
.Redes-i,
.Redes-y,
.Redes-e,
.Redes-t {
    margin: 0.5rem;
}

/* ------Fondos transparentes de varias cajas------*/
.Container-p,
.Logo,
.Container-form {
    background-color: rgba(0, 0, 0, 0.250);
    border-radius: 15px;
    padding: 1rem;
}

/* ------Css imagenes------*/
.Enlaces-img {
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 0 50px orange;
}

.Logo-img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 50px cyan;
}

.Galeria-img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    height: 100%;
}

/* ------Botones y efectos de la galeria acordeon------ */
.Container-mas,
.Container-menos.active {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: xx-large;
    cursor: pointer;
    box-shadow: 0 0 20px aquamarine;
    border: none;
}




.Container-menos.active {
    position: absolute;
    top: 8.2rem;
}

.Galeria,
.Container-menos,
.Container-mas.active {
    display: none;
}

.Galeria.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0.5rem;
}

/* ------Efectos hover------ */

.Enlaces-img:hover {
    transform: scale(1.2);
}

.Galeria-img:hover {
    transform: scale(0.9);
}

/*------Backgrounds y efecto parallax------*/

.Containerprimero,
.Containersegundo {
    background-image: url(https://images.pexels.com/photos/4062563/pexels-photo-4062563.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.Containertercero,
.Containercuarto {
    background-image: url(https://images.pexels.com/photos/3596460/pexels-photo-3596460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.Containerquinto,
.Containersexto {
    background-image: url(https://images.pexels.com/photos/2111015/pexels-photo-2111015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.Containerseptimo,
.Containeroctavo {
    background-image: url(https://images.pexels.com/photos/11816397/pexels-photo-11816397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

/* ------Galeria full size y botones adjuntos------ */
.Full {
    display: none;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 3;
}

.Full-img {
    width: 50%;
    border-radius: 15px;
}

.Full-x {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    cursor: pointer;
}

.Full-btnPrev,
.Full-btnNext {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.250);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
}

.Full-btnPrev:hover,
.Full-btnNext:hover {
    animation: glow 0.5s alternate infinite;
    box-shadow: 0 0 50px aqua;
}

.Full-btnPrev {
    margin-right: 1rem;
    left: 1rem;
}

.Full-btnNext {
    margin-left: 1rem;
    right: 1rem;
}



/* Css formulario */
.Container-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 15%;
}

.Label-correo,
.Label-texto {
    border-radius: 15px;
    margin-top: 20px;
    width: 80%;

}


.Label-btn {
    padding: 0.2rem;
    border-radius: 15px;
    width: 60%;
    color: white;
    background-color: blue;
    border: solid 2px black;
    margin-top: 20px;
    animation: glow 2s ease alternate infinite;
    cursor: pointer;
}

/* Gifs parte de contactos */

.Container-gifright,
.Container-gifleft {
    position: absolute;
    width: 15%;
    bottom: 0;
}

.Container-gifright {
    right: 5%;
    top: 0;
}

.Container-gifleft {
    left: 5%;
}




/* ------Colores redes------ */
.fa-facebook-f {
    color: blue;
}

.fa-tiktok {
    color: silver;
}


.fa-instagram {
    color: darkmagenta;
}

.fa-youtube {
    color: red;
}

.fa-envelope {
    color: white;
}

.Footer {
    margin: 1rem;
}


/* ------Media queries------ */
/*Mobile*/
@media only screen and (max-width: 700px) {

    :root {
        font-size: 1rem;
    }

    .Lista {
        display: none;
    }

    .Lista.active {
        background-color: rgba(0, 0, 0, 0.692);
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
    }

    .Lista-a {
        margin-right: 4rem;
    }

    .Lista-a,
    .Header-x {
        font-size: xx-large;
    }


    .Header-btn {
        display: block;
        padding: 1rem;

    }

    .Container-p {
        width: 90%;
    }

    .Header-x.active {
        display: block;
    }

    .Full-x {
        top: 13rem;
    }

    .Container-menos.active {
        display: block;
        position: absolute;
        top: 6.8rem;
    }

    .Container-form {
        width: 50%;
    }

    .Container-gifright,
    .Container-gifleft {
        width: 20%;
    }

    .Enlaces-img {
        width: 50px;
    }
}


/*Tablet*/
@media only screen and (min-width: 701px) and (max-width:1024px) {
    :root {
        font-size: 1.5rem;
    }

    .Container-p {
        width: 70%;
    }

    .Container-form {
        width: 30%;
    }

}

/*Pc*/
@media only screen and (min-width: 1025px) {


    .Header img {
        width: 100px;
        border-radius: 50%;
    }

    .Container-h1 {
        font-size: 2.5rem;
    }

    .Container-p {
        width: 50%;
    }

}