:root {
    background-color: black;
    color: white;
    font-family: "Caveat", cursive;
    text-align: center;
    scroll-behavior: smooth;

}

.Header {

    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    width: 98%;
    top: 0;
    z-index: 1;
    padding: 0.5rem;
}

.Redes-x,
.Redes-i,
.Redes-y,
.Redes-e,
.Redes-t {
    margin: 0.5rem;
}


.Header-btn {
    display: none;
    background-color: black;
    border: none;
    cursor: pointer;
}

.Header-x {
    display: none;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: x-large;
}

.Logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    margin-top: 6rem
}

.Logo-h1 {
    color: cyan;
    font-family: "Reggae One", system-ui;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {

        text-shadow: 0 0 20px cyan;
    }

    100% {
        transform: scale(1.2);
        text-shadow: 0 0 50px cyan, 0 0 20px black;
    }
}

.Container-h2 {
    padding: 3rem;
    color: aquamarine;
    text-shadow: 0 0 20px aquamarine;

}

.Container-h3 {
    color: orange;
    text-shadow: 0 0 20px orange;
}

.Container-p,
.Logo,
.Container-form {
    background-color: rgba(0, 0, 0, 0.250);
    border-radius: 15px;
    padding: 1rem;
}



.Container-mas,
.Container-menos.active {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: xx-large;
    cursor: pointer;
    box-shadow: 0 0 20px aquamarine;

}

.Container-mas:hover,
.Container-menos.active:hover {
    transform: scale(1.2);
}

.Container-menos {
    display: none;
}

.Container-menos.active {
    position: absolute;
    top: 8.2rem;
}

.Container-mas.active {
    display: none;
}



.Logo-img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 50px cyan;
}

.Lista {
    display: flex;
    list-style: none;

}

.Lista-a {
    text-decoration: none;
    border-radius: 15px;
    color: white;
    margin-left: 10px;
    padding: 0.2rem;

}

.Lista-a:hover {
    background-color: white;
    color: black;
    transition: 1s ease;

}

.Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.Container-img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 15px;
}



.Container-article {
    display: flex;
    flex-direction: column;
}




#Seccion-1,
#Seccion-2,
#Seccion-3,
#Seccion-4,
#Seccion-5,
#Seccion-6,
#Seccion-7,
#Seccion-8 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

#Seccion-1,
#Seccion-2 {
    background-image: url(https://images.pexels.com/photos/4062563/pexels-photo-4062563.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#Seccion-3,
#Seccion-4 {
    background-image: url(https://images.pexels.com/photos/3596460/pexels-photo-3596460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#Seccion-5,
#Seccion-6 {
    background-image: url(https://images.pexels.com/photos/2111015/pexels-photo-2111015.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

#Seccion-7,
#Seccion-8 {
    background-image: url(https://images.pexels.com/photos/11816397/pexels-photo-11816397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.Galeria {
    display: none;
}

.Galeria.active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0.5rem;
}

.Galeria-img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    height: 100%;
}

.Galeria-img:hover {
    transform: scale(0.9);
}


.Full {
    display: none;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    z-index: 3;
}

.Full-x {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    cursor: pointer;
}

.Full-btnPrev,
.Full-btnNext {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.250);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
}
.Full-btnPrev:hover,
.Full-btnNext:hover {
    animation: glow 0.5s alternate infinite;
    box-shadow: 0 0 50px aqua;
}

.Full-btnPrev {
    margin-right: 1rem;
    left: 1rem;
}

.Full-btnNext {
    margin-left: 1rem;
    right: 1rem;
}

.Full-img {
    width: 50%;
    border-radius: 15px;
}

.Container-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    width: 30%;
}

.Container-gifright,
.Container-gifleft {
    position: absolute;
    width: 15%;
    bottom: 0;
}

.Container-gifright {
    right: 5%;
    top: 0;
}

.Container-gifleft {
    left: 5%;
}

.Label-correo,
.Label-correo,.Label-texto {
    border-radius: 15px;
    margin-top: 20px;
    width: 90%;
    
}

.Label-btn {
    padding: 0.2rem;
    border-radius: 15px;
    width: 60%;
    color: white;
    background-color: rgb(0, 0, 255);
    border: none;
    margin-top: 20px;
}


.fa-x-twitter,
.fa-tiktok {
    color: silver;
}


.fa-instagram {
    color: darkmagenta;
}

.fa-bars {
    background-color: black;
    color: white;

}

.fa-youtube {
    color: red;
}

.fa-envelope {
    color: white;
}

.Footer {
    margin: 1rem;
}



/*Mobile*/
@media only screen and (max-width: 700px) {

    .Header {
        height: 7%;
        width: 95%;
    }

    .Lista {
        display: none;
    }

    .Lista.active {
        background-color: rgba(0, 0, 0, 0.692);
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .Lista-a {
        margin-right: 4rem;
        font-size: xx-large;
        color: white;
    }


    .Header-btn {
        display: block;
    }

    .Container-p {
        width: 90%;
    }

    .Header-x.active {
        display: block;
    }

    .Full-x {
        top: 13rem;
    }

    .Container-menos.active {
        display: block;
        position: absolute;
        top: 6.8rem;
    }

    .Container-gifright,
    .Container-gifleft {
        width: 20%;
    }
}


/*Tablet*/
@media only screen and (min-width: 701px) and (max-width:1200px) {
    :Root {
        font-size: 1.8rem;
    }

    .Header {
        height: 7%;
        width: 96%;
    }

    .Container-h1 {
        font-size: 1.5rem;
    }

    .Container-p {
        width: 70%;
    }

    .Lista--a {
        font-size: 0.7rem;
    }
}

/*Pc*/
@media only screen and (min-width: 1201px) {
    :Root {
        font-size: 2rem;
    }


    .Header img {
        width: 100px;
        border-radius: 50%;
    }

    .Container-h1 {
        font-size: 2.5rem;
    }

    .Container-p {
        width: 50%;
    }

    .Videos-iframe {
        width: 60vh;
        height: 40vh;
    }


}